<ion-header>
    <ion-navbar>
        <ion-title> {{ ticket.titulo }} </ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="ticket">
    <ion-card>
        <ion-card-header class="header" text-center>{{ticket.titulo}}</ion-card-header>
        <div padding [innerHTML]="ticket.contenido"></div>
        <button clear text-right secondary *ngIf="ticket.archivo && ticket.encriptado == 0" (click)="descargarArchivoTicket()">{{ticket.archivo}}</button>
        <button clear text-right secondary *ngIf="ticket.archivo && ticket.encriptado == 1" (click)="preguntarClave()"><ion-icon name="lock"></ion-icon>{{ticket.archivo}}</button>
        <p text-right *ngIf="ticket.user"><b>Usuario:</b> {{ticket.user.nombre}}</p>
        <p text-right ><b>{{ticket.created_at | date: 'medium' }}</b></p>

    </ion-card>
    <ion-card>
        <ion-card-header class="header" text-center>Seguimiento</ion-card-header>
        <ion-list *ngIf="comentarios">
            <ion-item-sliding *ngFor="let com of comentarios">
                <ion-item text-wrap >
                    <p [innerHTML]="com.texto"></p>
                    <button clear text-right  secondary (click)="descargarArchivoComentario(com)" *ngIf="com.archivo && com.encriptado == 0">{{com.archivo}}</button>
                    <button clear text-right  secondary (click)="preguntarClaveComentario(com)" *ngIf="com.archivo && com.encriptado == 1"><ion-icon name="lock"></ion-icon> {{com.archivo}}</button>
                    <p text-right *ngIf="com.user"><b>Por: </b> {{com.user.nombre}} </p>
                    <p text-right><b>{{ com.created_at | date : 'medium' }}</b></p>

                </ion-item>
                <ion-item-options side="right">
                    <button danger *ngIf="com.user.id == api.user.id" (click)="eliminarcomentario(com)">
                        <ion-icon name="trash"></ion-icon>
                        Borrar
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </ion-card>
</ion-content>
<ion-footer>
    <button fab fab-right fab-bottom secondary (click)="agregarComentario()"><ion-icon name="add" style="z-index:1000"></ion-icon></button>
</ion-footer>
