<ion-header>

  <ion-navbar primary>
    <ion-title>{{categoria.nombre}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <center *ngIf="loading != ''"><ion-spinner></ion-spinner><br> {{loading}}</center>
    <ion-list *ngIf="categorias && categorias.length > 0">
        <ion-list-header>Categorias</ion-list-header>
        <button ion-item (click)="navigateToCat(cat)" *ngFor="let cat of categorias">
            <ion-icon name="folder" item-left></ion-icon> {{cat.nombre}}
        </button>
    </ion-list>
    <ion-list no-padding>
        <ion-list-header *ngIf="documentos && documentos.length > 0">Documentos</ion-list-header>
        <button ion-item *ngFor="let documento of documentos" (click)="descargarDocumento(documento)">
            <ion-icon item-left name="document" favorite></ion-icon>
            <h3 text-center>{{documento.titulo}}</h3>
            <p>{{documento.descripcion}}</p>
            <button item-right clear secondary>
                {{documento.mime}}
            </button>
        </button>
        <ion-list-header *ngIf="documentos && documentos.length == 0">No hay documentos</ion-list-header>
    </ion-list>
</ion-content>
