<ion-header>
  <ion-navbar primary>
    <ion-title>Mis Casos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>
        <ion-list-header>Soy El Responsable</ion-list-header>
        <button ion-item *ngFor="let ticket of ticketsResponsables" (click)="navigate(ticket)" [ngClass]="{'vencido': ticket.estado == 'vencido'}">
            <h3 text-center text-uppercase> {{ticket.titulo}} </h3>
            <small ><b primary>Usuario: </b>{{ticket.user.nombre}}</small><br>
            <small ><b secondary>Responsable:</b> {{ticket.guardian.nombre}}</small>
            <ion-badge item-right>{{ticket.comentarios_count}}</ion-badge>
            <p text-right>Vence: {{ticket.vencimiento | date:'medium'}}</p>
        </button>
    </ion-list>
    <ion-item *ngIf="ticketsResponsables && ticketsResponsables.length ==0">
        <h2>No Hay Casos </h2>
    </ion-item>

    <ion-list>
        <ion-list-header>Creados por mi</ion-list-header>
        <button ion-item *ngFor="let ticket of ticketsCreados" (click)="navigate(ticket)" [ngClass]="{'vencido': ticket.estado == 'vencido'}">
            <h3 text-center text-uppercase> {{ticket.titulo}} </h3>
            <small><b primary>Usuario: </b>{{ticket.user.nombre}}</small><br>
            <small><b secondary>Responsable:</b> {{ticket.guardian.nombre}}</small>
            <ion-badge item-right>{{ticket.comentarios_count}}</ion-badge>
            <p text-right>Vence: {{ticket.vencimiento | date:'medium'}}</p>
        </button>
    </ion-list>
    <ion-item *ngIf="ticketsCreados && ticketsCreados.length ==0">
        <h2>No Hay Casos </h2>
    </ion-item>

</ion-content>
