
<ion-header>
  <ion-navbar primary>
     <button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title *ngIf="!buscar">
        Casos
    </ion-title>
     <ion-searchbar *ngIf="buscar"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content class="home">
    <ion-list>
        <ion-list-header>Por categorias</ion-list-header>
        <button ion-item *ngFor="let cat of categorias" (click)="navigate(cat)">
            <ion-icon name="folder" item-left></ion-icon> {{cat.nombre}}
            <ion-icon name="arrow-forward" item-right showWhen="android"></ion-icon>
        </button>
    </ion-list>
</ion-content>

<ion-footer>
    <button fab fab-bottom fab-right (click)="agregarTicket(categoria)"><ion-icon name="add"></ion-icon></button>
</ion-footer>
