<ion-header>

    <ion-navbar primary>
        <ion-title>{{ categoria.nombre }}

        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    <ion-list *ngIf="categorias && categorias.length > 0">
        <ion-list-header>SubCategorias</ion-list-header>
        <button ion-item *ngFor="let cat of categorias" (click)="navigateToCat(cat)">
            <ion-icon name="folder" item-left></ion-icon> {{cat.nombre}}
            <ion-icon name="arrow-forward" item-right showWhen="android"></ion-icon>
        </button>
    </ion-list>
    <ion-list>
        <ion-list-header>Casos</ion-list-header>
        <button ion-item *ngFor="let ticket of tickets" (click)="navigate(ticket)" [ngClass]="{'vencido': ticket.estado == 'vencido'}">
            <h3 text-center text-uppercase> {{ticket.titulo}} </h3>
            <small ><b primary>Usuario: </b>{{ticket.user.nombre}}</small><br>
            <small ><b secondary>Responsable:</b> {{ticket.guardian.nombre}}</small>
            <ion-badge item-right>{{ticket.comentarios_count}}</ion-badge>
            <p text-right>Vence: {{ticket.vencimiento | date:'medium'}}</p>
        </button>
    </ion-list>
    <ion-item *ngIf="tickets && tickets.length ==0">
        <h2>No Hay Casos </h2>
    </ion-item>
</ion-content>

<ion-footer>
    <button fab fab-bottom fab-right (click)="agregarTicket(categoria)"><ion-icon name="add"></ion-icon></button>
</ion-footer>
