
<ion-header>

    <ion-navbar secondary>
        <ion-searchbar cancelButtonText="Cancelar" placeholder="Buscar..." [(ngModel)]="query" debounce="500"  (ionInput)="buscar()"></ion-searchbar>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <center *ngIf="loading">
        <ion-spinner></ion-spinner>
    </center>
    <ion-list >
        <ion-list-header *ngIf="tickets && tickets.length > 0">Casos</ion-list-header>
        <ion-item text-wrap *ngFor="let ticket of tickets" (click)="openTicket(ticket)">
            {{ticket.titulo}} de {{ticket.guardian.nombre}}
        </ion-item>

        <ion-list-header *ngIf="documentos && documentos.length > 0">Documentos</ion-list-header>
        <ion-item text-wrap *ngFor="let doc of documentos" (click)="openCategoriaDocumento(doc)">
            {{doc.titulo}} en {{doc.categoria.nombre}}
        </ion-item>

        <ion-item *ngIf="empty">
            <h3>No se ha encontrado ningun elemento</h3>
        </ion-item>
    </ion-list>
</ion-content>
